.menu-list{
	display: flex;
	gap: 20px;
}

.menu-list__item{
	list-style: none;
}

.menu-list__link{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #B3BCC7;
	text-decoration: none;
} 

.active{
	color: white
}

